# Ignore the config file
/config.txt
/google_credential.json

# Ignore Jupyter lab checkpoints folder
.ipynb_checkpoints

# Ignore __pycache__
__pycache__/

#ignore .DS_Store
.DS_Store/

# ignore the generated audio files
*.mp3
*.m4a
*.wav

voicechatbot-env/